---
import { Image } from 'astro:assets'
import { SOCIAL_PLATFORMS } from '@/lib/constants/networks'
import {
  CLOUD_COMPUTING,
  DATABASE,
  DESIGN,
  DEVELOPMENT,
  DEVOPS,
  EDITING,
  MACHINE_LEARNING,
  PRODUCTIVITY,
  PROGRAMMING_LANGUAGE,
  TESTING
} from '@/lib/constants/tools'
import { WEB_TIMELINE } from '@/lib/constants/web-timeline'

import PageLayout from '@/layouts/CommonPage.astro'
import PublicationCard from '@/components/PublicationCard.astro'
import Substats from '@/components/Substats.astro'
import Timeline from '@/components/Timeline.astro'
import ToolSection from '@/components/ToolSection.astro'
import { formatDate } from '@/utils'
import { jobs, publications } from '@/site-config'

const headings = [
  { depth: 2, slug: 'work-experiences', text: 'Work Experiences' },
  { depth: 2, slug: 'publications', text: 'Publications' },
  { depth: 2, slug: 'skills', text: 'Skills' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'about-website', text: 'About Website' }
]
---

<PageLayout title='About me' {headings} info='/about'>
  <p>Software Engineer</p>
  <p>
    I write code and occasionally make things look pretty. When I’m not busy squashing bugs (the
    digital kind, not the creepy crawly ones), I’m probably staring at my screen wondering why my
    CSS won’t center. I turn coffee into code and pixels into something that vaguely resembles art.
    If it breaks, I probably know how to fix it… or at least Google does.
  </p>

  <h2 id='work-experiences'>Work Experiences</h2>
  <p>Professional Background</p>

  <div class='grid grid-cols-1 gap-x-12 gap-y-10 lg:grid-cols-2'>
    {
      jobs.map((job) => (
        <div class='relative flex max-w-2xl items-start gap-x-4 before:absolute before:top-20 before:bottom-0 before:left-9 before:h-[calc(100%-70px)] before:w-px before:bg-zinc-200 lg:gap-x-6 dark:before:bg-zinc-800'>
          <a
            href={job.url}
            rel='noreferrer noopener'
            target='_blank'
            class='relative grid min-h-[80px] min-w-[80px] place-items-center rounded-md border border-zinc-200 p-2 text-clip dark:border-zinc-800'
          >
            <Image
              src={job.logo}
              class='object-cover duration-300'
              alt={`${job.name} logo`}
              width={50}
              height={50}
            />
          </a>
          <div class='flex flex-col items-start'>
            <h3 class='text-xl font-semibold'>{job.name}</h3>
            <p>{job.jobTitle}</p>
            <time class='mt-2 text-sm tracking-widest text-zinc-500 uppercase'>
              {formatDate(job.startDate)} -{' '}
              {job.endDate ? (
                formatDate(job.endDate)
              ) : (
                <span class='dark:text-primary-color text-tertiary-color'>Present</span>
              )}
            </time>
            <p class='my-4 tracking-tight text-zinc-600 dark:text-zinc-400'>{job.description}</p>
          </div>
        </div>
      ))
    }
  </div>

  <h2 id='publications'>Publications</h2>
  <p>Paper I have contributed</p>

  <div class='grid grid-cols-1 gap-4'>
    {
      publications.length > 0 ? (
        publications.map((publication, key) => (
          <PublicationCard
            key={key}
            authors={publication.authors}
            paper={publication.paper}
            fileFormat={publication.fileFormat}
            publishedIn={publication.publishedIn}
            keywords={publication.keywords}
          />
        ))
      ) : (
        <div>There is no publications found!</div>
      )
    }
  </div>

  <h2 id='skills'>Skills</h2>
  <p>Skills that I had</p>

  <ToolSection class='mb-5' title='Programming Language' tools={PROGRAMMING_LANGUAGE} />
  <ToolSection class='mb-5' title='Database' tools={DATABASE} />
  <ToolSection class='mb-5' title='DevOps' tools={DEVOPS} />
  <ToolSection class='mb-5' title='Cloud Computing' tools={CLOUD_COMPUTING} />
  <ToolSection class='mb-5' title='Machine Learning' tools={MACHINE_LEARNING} />

  <h2 id='tools'>Tools</h2>
  <p>Tools and software I use daily</p>

  <ToolSection class='mb-5' title='Design' tools={DESIGN} />
  <ToolSection class='mb-5' title='Editing' tools={EDITING} />
  <ToolSection class='mb-5' title='Productivity' tools={PRODUCTIVITY} />
  <ToolSection class='mb-5' title='Testing' tools={TESTING} />
  <ToolSection class='mb-5' title='Development' tools={DEVELOPMENT} />

  <h2 id='social-networks'>Social Networks</h2>
  <p>
    Connect with me across various platforms where I share insights, projects, and updates on my
    latest work. Whether it's professional contributions, open-source projects, or personal
    interests, you'll find it all here. Feel free to reach out, collaborate, or just say hi!
  </p>
  <Substats stats={SOCIAL_PLATFORMS} />

  <h2 id='about-website'>About Website</h2>
  <p>Website history:</p>
  <Timeline events={WEB_TIMELINE} />
</PageLayout>
