---
import { cn } from '@/utils'

const { url, title, visibility, description, stars, forks, lang } = Astro.props
---

<div
	class='overflow-hidden rounded-md border border-border transition duration-200 hover:border-foreground/25 hover:shadow-sm'
>
	<a href=`${url}` class='flex flex-col items-start justify-center gap-1 p-4'>
		<div>
			<b class='text-lg text-[#4493f8]'>{title}</b>
			<div
				class='inline-flex items-center gap-x-1 rounded-2xl border border-border bg-primary-foreground px-2 py-1 text-sm transition-all hover:bg-input'
			>
				{visibility}
			</div>
		</div>
		<p class='text-muted-foreground'>{description}</p>
		<div class='flex items-center gap-4'>
			<div class='flex items-center gap-2'>
				<svg fill='currentColor' viewBox='0 0 16 16' class='size-4 text-muted-foreground'>
					<path
						d='M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25'
					></path>
				</svg>
				<span>{stars}</span>
			</div>
			<div class='flex items-center gap-2'>
				<svg fill='currentColor' viewBox='0 0 16 16' class='size-4 text-muted-foreground'>
					<path
						d='M5 5.372a2.25 2.25 0 1 0-1.5 0v.878A2.25 2.25 0 0 0 5.75 8.5h1.5v2.128a2.251 2.251 0 1 0 1.5 0V8.5h1.5a2.25 2.25 0 0 0 2.25-2.25v-.878a2.25 2.25 0 1 0-1.5 0v.878a.75.75 0 0 1-.75.75h-4.5A.75.75 0 0 1 5 6.25v-.878'
					></path>
				</svg>
				<span>{forks}</span>
			</div>
			<div class='flex items-center gap-2'>
				<div
					class={cn(
						'size-3 rounded-full',
						lang === 'Typescript' && 'bg-[#3178c6]',
						lang === 'Python' && 'bg-[#ffde57]'
					)}
				>
				</div>
				<span class='text-muted-foreground'>{lang}</span>
			</div>
		</div>
	</a>
</div>
