---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
  project: CollectionEntry<'work'>
}

const {
  project: { id, data }
} = Astro.props

const { description, heroImage, publishDate, title, updatedDate, draft: isDraft } = data
---

<a
  class='border-border bg-primary-foreground hover:border-foreground/25 flex flex-col gap-y-3 rounded-2xl border transition-all hover:shadow-xs'
  href={`/work/${id}`}
>
  {
    heroImage && (
      <Image
        width={720 * 2}
        height={1280 * 2}
        src={heroImage.src}
        alt={heroImage.alt}
        class='h-48 w-full rounded-2xl rounded-b-none object-cover'
        fetchpriority='high'
        loading='eager'
      />
    )
  }

  <div class='flex flex-col gap-y-0.5 px-5 py-4'>
    <h1 class='text-lg font-medium'>{title}</h1>
    <h2 class='text-muted-foreground'>{description}</h2>
  </div>

  <slot />
</a>
