---
import { Image } from 'astro:assets'
import imageMap from '@/lib/utils/image-mapping'
import type { Author, FileFormat } from '@/types'

import Button from '@/components/Button.astro'

const { paper, authors, publishedIn, fileFormat, keywords } = Astro.props
---

<div class='not-prose flex flex-col md:flex-row'>
  <Image
    width={720 * 2}
    height={1280 * 2}
    src={imageMap[paper.image]}
    alt={paper.title}
    class='mr-8 mb-8 w-full rounded-lg md:size-60'
    loading='eager'
  />

  <div class='flex grow flex-col'>
    <div class='flex justify-between'>
      <p class='mb-4 text-xl'>{paper.title}</p>
    </div>

    <p class='mb-4 italic'>
      <a href={publishedIn.sourceUrl} class='hover:underline-offset-1'>
        {publishedIn.sourceTitle}
      </a>
    </p>

    <p class='mb-4'>
      <span>Authors: </span>
      {
        authors.map((author: Author, index: number) => (
          <span>
            {index === 0 ? (
              <strong>
                <a href={author.url} class='hover:underline-offset-1'>
                  {author.name}
                </a>
              </strong>
            ) : (
              <>
                {', '}
                <a href={author.url} class='hover:underline-offset-1'>
                  {author.name}
                </a>
              </>
            )}
          </span>
        ))
      }
    </p>

    <p class='mb-4'>
      <span>Keywords: </span>
      {
        keywords.reduce((prev: string, curr: string, index: number) => {
          return index < keywords.length - 1 ? `${prev}${curr}, ` : `${prev}${curr}`
        }, '')
      }
    </p>

    <p class='mb-4'>
      <span>DOI: </span>
      <a href={paper.publicationUrl} class='text-blue-500 hover:underline-offset-1' target='_blank'>
        {paper.doi}
      </a>
    </p>

    <div class='my-2 flex items-center space-x-4'>
      {
        fileFormat.map((file: FileFormat, index: number) => (
          <Button href={file.url} title={file.type} key={index} />
        ))
      }
    </div>
  </div>
</div>
