---
import { Image } from 'astro:assets'

import type { CollectionEntry } from 'astro:content'

interface Props {
	equipment: CollectionEntry<'uses'>
}

const { data, slug } = Astro.props.equipment
---

<li class='mb-4 text-center'>
	<a href={`/use/${slug}`}>
		<Image
			class='rounded-xl border border-slate-300 dark:border-zinc-700'
			src={data.img}
			width={720 * 2}
			height={1280 * 2}
			alt={data.img_alt}
		/>
		<div class='mt-3 text-xl font-bold'>{data.heading}</div>
		{data.subheading && <div class='opacity-70'>{data.subheading}</div>}
	</a>
</li>
