---
import { Image } from 'astro:assets'
import { type CollectionEntry, getCollection } from 'astro:content'

import PageLayout from '@/layouts/BaseLayout.astro'

import Hero from '@/components/Hero.astro'

import Button from '@/components/Button.astro'
import Pill from '@/components/Pill.astro'

import ImageCarousel from '@/components/elements/ImageCarousel'

interface Props {
	entry: CollectionEntry<'work'>
}

export async function getStaticPaths() {
	const work = await getCollection('work')
	return work.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry }
	}))
}

const { entry } = Astro.props

export const prerender = true

const { Content } = await entry.render()
---

<PageLayout meta={{ title: 'Works' }}>
	<div class='w-full'>
		<Button title='Back' href='/works' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div class='flex flex-col gap-16'>
				<header class='border-b border-gray-200 pb-10'>
					<div class='mx-auto flex w-full max-w-6xl flex-col gap-2'>
						<Hero title={entry.data.heading} align='start'>
							<div
								class='flex flex-col items-center justify-between gap-6 p-2 md:flex-row md:gap-10'
							>
								<div class='flex gap-2'>
									{entry.data.tags.map((t) => <Pill>{t}</Pill>)}
								</div>

								<p class='text-lg'>{entry.data.subheading}</p>
							</div>
							<div class='flex justify-end'>
								<a href=`${entry.data.githubLink}` target='_blank'>
									<button
										type='button'
										class='mb-2 me-2 inline-flex items-center rounded-lg border border-border bg-primary-foreground px-5 py-2.5 text-center text-sm font-medium hover:bg-input'
									>
										<svg
											class='me-2 size-4'
											viewBox='0 0 15 15'
											fill='none'
											xmlns='http://www.w3.org/2000/svg'
											><path
												d='M3 2C2.44772 2 2 2.44772 2 3V12C2 12.5523 2.44772 13 3 13H12C12.5523 13 13 12.5523 13 12V8.5C13 8.22386 12.7761 8 12.5 8C12.2239 8 12 8.22386 12 8.5V12H3V3L6.5 3C6.77614 3 7 2.77614 7 2.5C7 2.22386 6.77614 2 6.5 2H3ZM12.8536 2.14645C12.9015 2.19439 12.9377 2.24964 12.9621 2.30861C12.9861 2.36669 12.9996 2.4303 13 2.497L13 2.5V2.50049V5.5C13 5.77614 12.7761 6 12.5 6C12.2239 6 12 5.77614 12 5.5V3.70711L6.85355 8.85355C6.65829 9.04882 6.34171 9.04882 6.14645 8.85355C5.95118 8.65829 5.95118 8.34171 6.14645 8.14645L11.2929 3H9.5C9.22386 3 9 2.77614 9 2.5C9 2.22386 9.22386 2 9.5 2H12.4999H12.5C12.5678 2 12.6324 2.01349 12.6914 2.03794C12.7504 2.06234 12.8056 2.09851 12.8536 2.14645Z'
												fill='currentColor'
												fill-rule='evenodd'
												clip-rule='evenodd'></path></svg
										>
										Live
									</button>
								</a>
								<a href=`${entry.data.githubLink}` target='_blank'>
									<button
										type='button'
										class='mb-2 me-2 inline-flex items-center rounded-lg border border-border bg-primary-foreground px-5 py-2.5 text-center text-sm font-medium hover:bg-input'
									>
										<svg
											class='me-2 h-4 w-4'
											aria-hidden='true'
											xmlns='http://www.w3.org/2000/svg'
											fill='currentColor'
											viewBox='0 0 20 20'
										>
											<path
												fill-rule='evenodd'
												d='M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z'
												clip-rule='evenodd'></path>
										</svg>
										GitHub
									</button>
								</a>
							</div>
						</Hero>
					</div>
				</header>
				<main class='mx-auto w-full max-w-6xl'>
					<div class='content flex flex-col gap-10'>
						{
							entry.data.img && (
								<Image
									class='rounded-xl border border-slate-300'
									width={720 * 2}
									height={1280 * 2}
									src={entry.data.img}
									alt={entry.data.img_alt}
								/>
							)
						}
						<div class='content'>
							<Content />
						</div>
						<ImageCarousel client:load subImages={entry.data.subImages} />
					</div>
				</main>
			</div>
		</div>
	</div>
</PageLayout>

<style>
	.content > :global(* + *) {
		margin-top: 1rem;
	}

	.content :global(h1),
	.content :global(h2),
	.content :global(h3),
	.content :global(h4),
	.content :global(h5) {
		margin: 1.5rem 0;
	}

	.content :global(img) {
		border-radius: 1.5rem;
		box-shadow:
			0 6px 3px rgba(9, 11, 17, 0.01),
			0 4px 2px rgba(9, 11, 17, 0.01);
		background: linear-gradient(150deg, #f3f4f7 19%, #ffffff 150%);
		border: 1px solid #e3e6ee;
	}

	.content :global(blockquote) {
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.1;
		padding-inline-start: 1.5rem;
		border-inline-start: 0.25rem solid #1c0056;
		color: #090b11;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color 0.2s ease-in-out;
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}
</style>
