---
import type { SiteMeta } from '@/types'
import SpeedInsights from '@vercel/speed-insights/astro'

import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import { siteConfig } from '@/site-config'

interface Props {
  meta: SiteMeta
}

const {
  meta: { articleDate, description = siteConfig.description, ogImage, title }
} = Astro.props
---

<html lang={siteConfig.locale.lang} class=''>
  <head>
    <BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
  </head>

  <body class='bg-background flex justify-center'>
    <main class='font-satoshi w-full max-w-[60rem] px-4 pt-7 leading-relaxed sm:px-7 lg:px-10'>
      <Header />
      <slot />
      <Footer />
    </main>
    <SpeedInsights />
  </body>
</html>
